In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('Data Collection.xlsx', sheet_name = 'Sheet7')

In [8]:
df = df[['Phone Number','Toll Free Number','Fax']]

In [9]:
df

       Phone Number Toll Free Number             Fax
0        6125685899              NaN             NaN
1               NaN              NaN             NaN
2               NaN              NaN             NaN
3     (251)867-8001              NaN  (502) 634-4513
4        2053297285       8008249194             NaN
..              ...              ...             ...
319             NaN              NaN             NaN
320  (248) 549-4057              NaN             NaN
321  (248) 549-4057              NaN             NaN
322             NaN              NaN             NaN
323             NaN              NaN             NaN

[324 rows x 3 columns]

In [16]:
phn = df['Phone Number'].str.replace(" ","")

In [18]:
tfn = df['Toll Free Number'].str.replace(" ","")

In [19]:
fax = df['Fax'].str.replace(" ","")

In [33]:
phn = [str(i).replace('-',"").replace('(',"").replace(')',"").replace('.',"") for i in phn]

In [35]:
tfn = [str(i).replace('-',"").replace('(',"").replace(')',"").replace('.',"") for i in tfn]

In [36]:
fax = [str(i).replace('-',"").replace('(',"").replace(')',"").replace('.',"") for i in fax]

In [40]:
new_df = pd.DataFrame({
    'Phone Number': phn,
    'Toll Free': tfn,
    'Fax': fax
})

In [41]:
new_df

    Phone Number Toll Free         Fax
0            nan       nan         nan
1            nan       nan         nan
2            nan       nan         nan
3     2518678001       nan  5026344513
4            nan       nan         nan
..           ...       ...         ...
319          nan       nan         nan
320   2485494057       nan         nan
321   2485494057       nan         nan
322          nan       nan         nan
323          nan       nan         nan

[324 rows x 3 columns]

In [42]:
new_df.to_excel(r"C:\Users\AF6352H\OneDrive - Econometrica Inc\Desktop\PODs\output.xlsx")